<uib-pagination change="setPage(page)"
  items-per-page="perPage" ng-model="page"
  total-items="totalPages"></uib-pagination>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Year</th>
      <th>Number</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="law in adoptedLaws">
      <td>
        {{law.yearAdopted}}
      </td>
      <td>
        {{law.numberInYear}}
      </td>
      <td>
        <a ui-sref="adoptedLaw({ adoptedLawId: law.id })">
          {{law.proposedLaw.title}}
        </a>
      </td>
    </tr>
  </tbody>
</table>
