<gitlaw-navbar></gitlaw-navbar>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h2>
        Jurisdictions
      </h2>
    </div>
    <div class="col-lg-4">
      <a class="btn btn-primary" ng-click="newJurisdiction()" ng-if="may.create">
        <span class="glyphicon glyphicon-plus"></span>
        Add Jurisdiction
      </a>
    </div>
  </div>
  <div class="jurisdictions-view-container col-lg-12">
    <div class="jurisdictions-ui-view" ui-view=""></div>
  </div>
</div>
