.container.col-lg-12
  %h2.modal-title Sign In
  %p
    Who will vouch for your identity?  Please choose an identity provider:
  %form
    %button.btn.btn-primary{ type: "button", ng: { click: "signIn('developer')" } }
      Developer
    %button.btn.btn-default{ type: "button", ng: { click: "cancel()" } }
      Cancel
