<uib-pagination change="setPage({page: page})"
  items-per-page="perPage" ng-model="page"
  total-items="totalPages"></uib-pagination>
<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Title
      </th>
      <th colspan="3">
        Controls
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="law in proposedLaws">
      <td>
        <a ui-sref="proposedLaw.node({ proposedLawId: law.id })">
          {{law.title}}
        </a>
      </td>
      <td>
        <a class="btn btn-default" ng-click="editProposedLawSettings(law)"
          ng-if="law.may.update">
          <span class="glyphicon glyphicon-wrench"></span>
          Settings
        </a>
      </td>
      <td>
        <a class="btn btn-danger" ng-click="destroyProposedLaw(law)"
          ng-if="law.may.destroy">
          <span class="glyphicon glyphicon-remove"></span>
          Remove
        </a>
      </td>
    </tr>
  </tbody>
</table>
