%div{ ng: { if: "!proposedLaw.workingRepoCreated" } }
  .col-lg-12.progress
    .progress-bar.progress-bar-striped.active{ role: "progressbar",
    aria: { valuenow: "100", valuemin: "0", valuemax: "100" },
    style: "width: 100%;" }
  %h3.text-center
    Please wait while the proposed law is initialized.
