.container-fluid
  %h2.col-lg-12
    %a{ href: "/jurisdictions/{{jurisdiction.id}}" }= "{{jurisdiction.name}}"
    \/
    %a{ href: "/proposed-laws/{{proposedLaw.id}}" }= "{{proposedLaw.title}}"
  %div{ ui: { view: true } }
