<gitlaw-navbar></gitlaw-navbar>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1>
        Users
      </h1>
    </div>
    <div class="col-lg-4">
      <a class="btn btn-primary" ng-click="newUser()" ng-if="may.create">
        <span class="glyphicon glyphicon-plus"></span>
        Add User
      </a>
    </div>
  </div>
  <div class="col-lg-12">
    <form class="form-inline">
      <div class="form-group">
        <label for="userSearch">Search</label>
        <input class="form-control" id="userSearch" ng-change="searchUser(search)"
        ng-model="search" placeholder="Name or Email" type="search"/>
      </div>
    </form>
    <user-list may="may" page="page" on-set-page="setPage(page)"
      on-set-search"setSearch(search)"></user-list>
  </div>
</div>
