<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">GitLaw</a>
    </div>
    <ul class="nav navbar-nav">
      <li uib-dropdown ui-sref-active="active" ng-if="may.adminMenu">
        <a href id="admin-menu" uib-dropdown-toggle>
          Administration<span class="caret"></span>
        </a>
        <ul uib-dropdown-menu role="menu" aria-labelledby="admin-menu">
          <li role="menuitem">
            <a ui-sref="users">Users</a>
          </li>
        </ul>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="jurisdictions({page: 1})">Jurisdictions</a>
      </li>
    </ul>
    <form class="navbar-form navbar-right">
      <a class="btn btn-success" ng-hide="$root.currentUser" ui-sref="signin">
        Sign In
        <span aria-hidden="" class="glyphicon glyphicon-log-in"></span>
      </a>
      <button class="btn btn-default" ng-click="signOut()" ng-show="$root.currentUser" type="button">
        Sign Out
        <span aria-hidden="" class="glyphicon glyphicon-log-out"></span>
      </button>
    </form>
  </div>
</div>
<div class="container-fluid">
  <flash-message duration="0" show-close="true"></flash-message>
</div>
