pagination( ng-model="list.page" change="setPage(list.page)"
total-items="list.totalPages" items-per-page="list.perPage" )
table.table.table-striped
  thead
    tr
      th Title
      th  colspan="3"   Controls
  tbody
    tr  ng-repeat="law in list.proposedLaws"
      td
        a  ui-sref="proposedLaw.node({ proposedLawId: law.id, tree: '' })"
          | {{law.title}}
      td
        a.btn.btn-default  ng-click='editProposedLawSettings(law)'  
          span.glyphicon.glyphicon-wrench
          | Settings
      td
        a.btn.btn-danger  ng-click='destroyProposedLaw(law)'
          span.glyphicon.glyphicon-remove
          | Remove
