.navbar.navbar-inverse{ role: "navigation"}
  .container
    .navbar-header
      %a.navbar-brand{ href: "/"}= "GitLaw"
    %ul.nav.navbar-nav
      %li{ ui: { sref: { active: "active" } } }
        %a{ ui: { sref: "codes.one" } }= "Codes"
    %form.navbar-form.navbar-right
      %a.btn.btn-success{ ui: { sref: 'signin' }, ng: { hide: "$root.currentUser.id" } }
        Sign In
        %span.glyphicon.glyphicon-log-in{ aria: { hidden: true } }
      %button.btn.btn-default{ type: 'button',
      ng: { click: "signOut()", show: "$root.currentUser.id" } }
        Sign Out
        %span.glyphicon.glyphicon-log-out{ aria: { hidden: true } }

