%nav.navbar.navbar-inverse{"role" => "navigation"}
  .container
    .navbar-header
      %a.navbar-brand{"href" => "/"}= "GitLaw"
    %ul.nav.navbar-nav
      %li
        %a{ href: "/" }= "Home"
      %li
        %a{ href: "/dashboard" }= "Dashboard"
      %li
        %a{ href: "/codes" }= "Codes"

