%nav.navbar.navbar-inverse{ role: "navigation"}
  .container
    .navbar-header
      %a.navbar-brand{ href: "/"}= "GitLaw"
    %ul.nav.navbar-nav
      %li
        %a{ href: "/codes" }= "Codes"
    %form.navbar-form.navbar-right
      %a.btn.btn-success{ ui: { sref: 'signin' }, ng: { hide: "$root.currentUser.id" } }
        Sign In
      %button.btn.btn-default{ type: 'button',
      ng: { click: "signOut()", show: "$root.currentUser.id" } }
        Sign Out
